body{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}
main{
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
}
#img-div{
    background-color: white;
    box-sizing: border-box;
    width: 98%;
    padding: 10px;
}
#dr-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img-caption{
    font-size: 16px;
    text-align: center;
}
#tribute-info{
    width: 50%;
    line-height: 1.4em;
}
#tribute-info > ul > li{
    margin-bottom: 1em;
}
.quote{
    font-style: italic;
}
#conclusion-more-info{
    font-size: 1.2em;
}
a{
    color: #826D98;
}